In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("data/earthquake.csv")

In [3]:
df

,Date,Time,Latitude,Longitude,Type,Depth,Depth Error,Depth Seismic Stations,Magnitude,Magnitude Type,...,Magnitude Seismic Stations,Azimuthal Gap,Horizontal Distance,Horizontal Error,Root Mean Square,ID,Source,Location Source,Magnitude Source,Status
0,01/02/1965,13:44:18,19.2460,145.6160,Earthquake,131.60,NaN,NaN,6.0,MW,...,NaN,NaN,NaN,NaN,NaN,ISCGEM860706,ISCGEM,ISCGEM,ISCGEM,Automatic
1,01/04/1965,11:29:49,1.8630,127.3520,Earthquake,80.00,NaN,NaN,5.8,MW,...,NaN,NaN,NaN,NaN,NaN,ISCGEM860737,ISCGEM,ISCGEM,ISCGEM,Automatic
2,01/05/1965,18:05:58,-20.5790,-173.9720,Earthquake,20.00,NaN,NaN,6.2,MW,...,NaN,NaN,NaN,NaN,NaN,ISCGEM860762,ISCGEM,ISCGEM,ISCGEM,Automatic
3,01/08/1965,18:49:43,-59.0760,-23.5570,Earthquake,15.00,NaN,NaN,5.8,MW,...,NaN,NaN,NaN,NaN,NaN,ISCGEM860856,ISCGEM,ISCGEM,ISCGEM,Automatic
4,01/09/1965,13:32:50,11.9380,126.4270,Earthquake,15.00,NaN,NaN,5.8,MW,...,NaN,NaN,NaN,NaN,NaN,ISCGEM860890,ISCGEM,ISCGEM,ISCGEM,Automatic
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23407,12/28/2016,08:22:12,38.3917,-118.8941,Earthquake,12.30,1.2,40.0,5.6,ML,...,18.0,42.47,0.120,NaN,0.1898,NN00570710,NN,NN,NN,Reviewed
23408,12/28/2016,09:13:47,38.3777,-118.8957,Earthquake,8.80,2.0,33.0,5.5,ML,...,18.0,48.58,0.129,NaN,0.2187,NN00570744,NN,NN,NN,Reviewed
23409,12/28/2016,12:38:51,36.9179,140.4262,Earthquake,10.00,1.8,NaN,5.9,MWW,...,NaN,91.00,0.992,4.8,1.5200,US10007NAF,US,US,US,Reviewed
23410,12/29/2016,22:30:19,-9.0283,118.6639,Earthquake,79.00,1.8,NaN,6.3,MWW,...,NaN,26.00,3.553,6.0,1.4300,US10007NL0,US,US,US,Reviewed
23411,12/30/2016,20:08:28,37.3973,141.4103,Earthquake,11.94,2.2,NaN,5.5,MB,...,428.0,97.00,0.681,4.5,0.9100,US10007NTD,US,US,US,Reviewed

In [4]:
df.keys()

Index(['Date', 'Time', 'Latitude', 'Longitude', 'Type', 'Depth', 'Depth Error',
       'Depth Seismic Stations', 'Magnitude', 'Magnitude Type',
       'Magnitude Error', 'Magnitude Seismic Stations', 'Azimuthal Gap',
       'Horizontal Distance', 'Horizontal Error', 'Root Mean Square', 'ID',
       'Source', 'Location Source', 'Magnitude Source', 'Status'],
      dtype='object')

In [7]:
df.Magnitude

0        6.0
1        5.8
2        6.2
3        5.8
4        5.8
        ...
23407    5.6
23408    5.5
23409    5.9
23410    6.3
23411    5.5
Name: Magnitude, Length: 23412, dtype: float64

In [8]:
df_seisme = df[df["Type"] == "Earthquake"]

In [10]:
df_clean = df_seisme[['Latitude', 'Longitude','Magnitude']]

In [14]:
X=df_clean.drop(columns="Magnitude")
y=df_clean.Magnitude

In [15]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X_normalized = scaler.fit_transform(X)

In [16]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=0)

In [17]:
import tensorflow as tf
from sklearn.model_selection import train_test_split

from sklearn.metrics import mean_squared_error
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [18]:


model = Sequential()
model.add(Dense(64, activation='relu', input_dim=2))
model.add(Dense(32, activation='relu'))
model.add(Dense(1, activation='linear'))
# Compile the model
model.compile(optimizer='adam', loss='mean_squared_error')
# Train the model
model.fit(X_train, y_train, epochs=50, batch_size=32, validation_split=0.2)

Epoch 1/50

2024-01-06 17:06:45.068685: W tensorflow/core/platform/profile_utils/cpu_utils.cc:128] Failed to get CPU frequency: 0 Hz

436/436 [==============================] - 0s 675us/step - loss: 7.2945 - val_loss: 1.8318
Epoch 2/50
436/436 [==============================] - 0s 492us/step - loss: 1.5245 - val_loss: 1.3286
Epoch 3/50
436/436 [==============================] - 0s 480us/step - loss: 1.1226 - val_loss: 1.0377
Epoch 4/50
436/436 [==============================] - 0s 478us/step - loss: 0.8151 - val_loss: 0.7720
Epoch 5/50
436/436 [==============================] - 0s 480us/step - loss: 0.6180 - val_loss: 0.5372
Epoch 6/50
436/436 [==============================] - 0s 470us/step - loss: 0.4906 - val_loss: 0.3658
Epoch 7/50
436/436 [==============================] - 0s 477us/step - loss: 0.4118 - val_loss: 0.8662
Epoch 8/50
436/436 [==============================] - 0s 461us/step - loss: 0.3591 - val_loss: 0.4189
Epoch 9/50
436/436 [==============================] - 0s 578us/step - loss: 0.3425 - val_loss: 0.2834
Epoch 10/50
436/436 [==============================] - 0s 473us/step - loss: 0.2847 - val_loss: 0.2424
Epoch 11/50
436/436 [==============================] - 0s 475us/step - loss: 0.2774 - val_loss: 0.5998
Epoch 12/50
436/436 [==============================] - 0s 461us/step - loss: 0.2899 - val_loss: 0.5142
Epoch 13/50
436/436 [==============================] - 0s 469us/step - loss: 0.2617 - val_loss: 0.2209
Epoch 14/50
436/436 [==============================] - 0s 472us/step - loss: 0.3010 - val_loss: 0.2256
Epoch 15/50
436/436 [==============================] - 0s 472us/step - loss: 0.2635 - val_loss: 0.3556
Epoch 16/50
436/436 [==============================] - 0s 467us/step - loss: 0.2644 - val_loss: 0.2251
Epoch 17/50
436/436 [==============================] - 0s 471us/step - loss: 0.2753 - val_loss: 0.1949
Epoch 18/50
436/436 [==============================] - 0s 470us/step - loss: 0.2526 - val_loss: 0.3806
Epoch 19/50
436/436 [==============================] - 0s 473us/step - loss: 0.2696 - val_loss: 0.3754
Epoch 20/50
436/436 [==============================] - 0s 466us/step - loss: 0.2547 - val_loss: 0.2512
Epoch 21/50
436/436 [==============================] - 0s 467us/step - loss: 0.2677 - val_loss: 0.3957
Epoch 22/50
436/436 [==============================] - 0s 471us/step - loss: 0.2629 - val_loss: 0.1940
Epoch 23/50
436/436 [==============================] - 0s 575us/step - loss: 0.2708 - val_loss: 0.2186
Epoch 24/50
436/436 [==============================] - 0s 477us/step - loss: 0.2258 - val_loss: 0.2335
Epoch 25/50
436/436 [==============================] - 0s 468us/step - loss: 0.2491 - val_loss: 0.1908
Epoch 26/50
436/436 [==============================] - 0s 464us/step - loss: 0.2311 - val_loss: 0.2055
Epoch 27/50
436/436 [==============================] - 0s 465us/step - loss: 0.2492 - val_loss: 0.2027
Epoch 28/50
436/436 [==============================] - 0s 464us/step - loss: 0.2235 - val_loss: 0.3582
Epoch 29/50
436/436 [==============================] - 0s 469us/step - loss: 0.2372 - val_loss: 0.2131
Epoch 30/50
436/436 [==============================] - 0s 467us/step - loss: 0.2324 - val_loss: 0.2770
Epoch 31/50
436/436 [==============================] - 0s 471us/step - loss: 0.2435 - val_loss: 0.3190
Epoch 32/50
436/436 [==============================] - 0s 470us/step - loss: 0.2327 - val_loss: 0.1925
Epoch 33/50
436/436 [==============================] - 0s 466us/step - loss: 0.2189 - val_loss: 0.2411
Epoch 34/50
436/436 [==============================] - 0s 467us/step - loss: 0.2187 - val_loss: 0.2106
Epoch 35/50
436/436 [==============================] - 0s 467us/step - loss: 0.2388 - val_loss: 0.1968
Epoch 36/50
436/436 [==============================] - 0s 546us/step - loss: 0.2171 - val_loss: 0.5406
Epoch 37/50
436/436 [==============================] - 0s 463us/step - loss: 0.2655 - val_loss: 0.1918
Epoch 38/50
436/436 [==============================] - 0s 464us/step - loss: 0.2254 - val_loss: 0.2195
Epoch 39/50
436/436 [==============================] - 0s 474us/step - loss: 0.2100 - val_loss: 0.2679
Epoch 40/50
436/436 [==============================] - 0s 466us/step - loss: 0.2220 - val_loss: 0.2794
Epoch 41/50
436/436 [==============================] - 0s 468us/step - loss: 0.2146 - val_loss: 0.2222
Epoch 42/50
436/436 [==============================] - 0s 471us/step - loss: 0.2217 - val_loss: 0.2543
Epoch 43/50
436/436 [==============================] - 0s 470us/step - loss: 0.2142 - val_loss: 0.2127
Epoch 44/50
436/436 [==============================] - 0s 470us/step - loss: 0.2065 - val_loss: 0.2257
Epoch 45/50
436/436 [==============================] - 0s 468us/step - loss: 0.2116 - val_loss: 0.1876
Epoch 46/50
436/436 [==============================] - 0s 467us/step - loss: 0.2125 - val_loss: 0.2009
Epoch 47/50
436/436 [==============================] - 0s 468us/step - loss: 0.2134 - val_loss: 0.2379
Epoch 48/50
436/436 [==============================] - 0s 470us/step - loss: 0.2107 - val_loss: 0.2096
Epoch 49/50
436/436 [==============================] - 0s 467us/step - loss: 0.2055 - val_loss: 0.2213
Epoch 50/50
436/436 [==============================] - 0s 567us/step - loss: 0.2100 - val_loss: 0.3044

In [20]:
y_pred = model.predict(X_test)
mse = mean_squared_error(y_test, y_pred)
print(f'Mean Squared Error on Test Set: {mse}')

182/182 [==============================] - 0s 287us/step
Mean Squared Error on Test Set: 0.312878819588274

In [46]:
pd.DataFrame(y_test)

       Magnitude
8193         5.6
18422        6.1
2074         7.3
7552         5.7
3419         5.6
...          ...
12912        7.5
22481        5.8
14987        5.8
3090         6.1
14950        5.9

[5808 rows x 1 columns]

In [39]:
test = pd.read_csv("data/test.csv")

In [40]:
xtest = scaler.transform(test[["latitude","longitude"]])

/Users/abdellatif/.pyenv/versions/3.10.6/envs/lewagon_data-science/lib/python3.10/site-packages/sklearn/base.py:493: FutureWarning: The feature names should match those that were passed during fit. Starting version 1.2, an error will be raised.
Feature names unseen at fit time:
- latitude
- longitude
Feature names seen at fit time, yet now missing:
- Latitude
- Longitude

  warnings.warn(message, FutureWarning)

In [41]:
xtest

array([[-0.9959225 , -0.8544472 ],
       [ 1.20072568, -0.02360054],
       [ 1.22783704, -0.00960204],
       [ 1.23506763, -0.12410456],
       [ 0.53372746, -1.06836507],
       [ 1.25124623, -0.1019907 ],
       [ 1.23370438, -0.01823907],
       [ 1.22868239, -0.02490393],
       [ 0.56313096,  0.64528406],
       [ 1.2306972 , -0.00870263],
       [ 1.25069826, -0.0186518 ],
       [ 0.87554309,  0.38285693],
       [-0.75468019, -0.86239954],
       [ 0.04556263,  0.20265697],
       [ 0.52504007, -1.11305721],
       [ 0.55745074, -1.13715279],
       [ 0.56045791, -1.09452826],
       [ 0.51301137, -1.0718641 ],
       [ 0.49964614, -1.09079066],
       [ 0.53807116, -1.07456789],
       [ 0.52169876, -1.11019436],
       [ 0.50666288, -1.10836533],
       [ 1.00752468, -1.22796848],
       [ 0.5210305 , -1.07130744],
       [ 0.47425222, -1.09063161],
       [ 0.51234311, -1.10478677]])

In [42]:
test["pred"]=model.predict(xtest)

1/1 [==============================] - 0s 15ms/step

In [43]:
test

,id,time,latitude,longitude,magnitude,action,pred
0,20240106_0000193,2024-01-06 15:44:30.000000 UTC,-28.4200,-67.7000,3.1,create,5.634900
1,20240106_0000194,2024-01-06 15:41:11.000000 UTC,37.3222,36.7783,1.3,create,5.639633
2,20240106_0000195,2024-01-06 15:54:31.000000 UTC,38.1336,38.5386,1.4,create,5.639539
3,20240106_0000196,2024-01-06 16:13:09.200000 UTC,38.3500,24.1400,2.7,create,5.645000
4,20240106_0000173,2024-01-06 13:53:08.000000 UTC,17.3600,-94.6000,4.0,create,5.674456
5,20240106_0000174,2024-01-06 12:11:00.000000 UTC,38.8342,26.9208,2.2,create,5.644305
6,20240106_0000153,2024-01-06 10:14:08.000000 UTC,38.3092,37.4525,1.3,create,5.640060
7,20240106_0000154,2024-01-06 13:08:35.000000 UTC,38.1589,36.6144,2.8,create,5.640266
8,20240106_0000155,2024-01-06 13:08:29.000000 UTC,18.2400,120.8900,3.1,create,5.592957
9,20240106_0000156,2024-01-06 10:21:25.000000 UTC,38.2192,38.6517,1.5,create,5.639556
10,20240106_0000157,2024-01-06 10:37:23.000000 UTC,38.8178,37.4006,2.0,create,5.640427
11,20240106_0000158,2024-01-06 13:42:25.000000 UTC,27.5900,87.8900,3.6,create,5.613773
12,20240106_0000159,2024-01-06 13:53:12.000000 UTC,-21.2000,-68.7000,2.8,create,5.638783
13,20240106_0000160,2024-01-06 12:46:22.400000 UTC,2.7500,65.2300,4.8,create,5.604596
14,20240106_0000161,2024-01-06 10:44:19.000000 UTC,17.1000,-100.2200,3.3,create,5.676352
15,20240106_0000162,2024-01-06 10:24:05.000000 UTC,18.0700,-103.2500,3.6,create,5.678133
16,20240106_0000163,2024-01-06 09:59:58.000000 UTC,18.1600,-97.8900,3.3,create,5.676217
17,20240106_0000164,2024-01-06 09:55:34.000000 UTC,16.7400,-95.0400,3.4,create,5.674194
18,20240106_0000165,2024-01-06 09:28:15.000000 UTC,16.3400,-97.4200,3.5,create,5.674798
19,20240106_0000166,2024-01-06 09:15:59.000000 UTC,17.4900,-95.3800,3.4,create,5.674832
20,20240106_0000167,2024-01-06 08:58:47.000000 UTC,17.0000,-99.8600,3.4,create,5.676150
21,20240106_0000168,2024-01-06 08:38:54.000000 UTC,16.5500,-99.6300,3.6,create,5.675757
22,20240106_0000169,2024-01-06 07:54:19.000000 UTC,31.5400,-114.6700,3.4,create,5.687605
23,20240106_0000170,2024-01-06 07:41:55.000000 UTC,16.9800,-94.9700,3.3,create,5.674332
24,20240106_0000172,2024-01-06 07:26:48.000000 UTC,15.5800,-97.4000,3.8,create,5.674272
25,20240106_0000171,2024-01-06 07:37:21.000000 UTC,16.7200,-99.1800,3.3,create,5.675708

In [63]:
pd.DataFrame(y_test.values)

        0
0     5.6
1     6.1
2     7.3
3     5.7
4     5.6
...   ...
5803  7.5
5804  5.8
5805  5.8
5806  6.1
5807  5.9

[5808 rows x 1 columns]

In [68]:
pd.DataFrame(y_pred)

             0
0     6.237398
1     5.744295
2     6.338177
3     5.474864
4     5.156340
...        ...
5803  5.469547
5804  5.147566
5805  5.926975
5806  5.173078
5807  5.779466

[5808 rows x 1 columns]

In [70]:
f =pd.DataFrame(y_test.values)
f["pred"] = pd.DataFrame(y_pred)

In [71]:
f

        0      pred
0     5.6  6.237398
1     6.1  5.744295
2     7.3  6.338177
3     5.7  5.474864
4     5.6  5.156340
...   ...       ...
5803  7.5  5.469547
5804  5.8  5.147566
5805  5.8  5.926975
5806  6.1  5.173078
5807  5.9  5.779466

[5808 rows x 2 columns]

In [61]:
import numpy as np
np.concatenate(y_test.values,y_pred[:,0])

TypeError: only integer scalar arrays can be converted to a scalar index